* {
  box-sizing: border-box;
}


@import "bootstrap";
@import "admin";
@import "skin";

.wrapper {
  display: flex;

  flex-direction: column;

  height: 100vh;

  &__content {
    flex-grow: 1;

    display: flex;
  }
}

.main-sidebar {
  position: relative;
  overflow-y: auto;

  padding-top: 0;
  flex-shrink: 0;
}

.content-wrapper {
  padding: @grid-gutter-width;
  margin-left: 0;
  flex-grow: 1;

  overflow-y: auto;
}

@media (max-width: 767px) {
  .main-sidebar {
    display: none;
  }
}
