* {
  box-sizing: border-box;
}


@import "bootstrap";
@import "admin";
@import "skin";

.wrapper {
  display: flex;

  flex-direction: column;

  height: 100vh;

  &__content {
    flex-grow: 1;

    display: flex;
  }
}

.main-sidebar {
  position: relative;
  overflow-y: auto;

  padding-top: 0;
  flex-shrink: 0;
}

.content-wrapper {
  padding: @grid-gutter-width;
  margin-left: 0;
  flex-grow: 1;

  overflow-y: auto;
}

@media (max-width: 767px) {
  .wrapper__content {
    flex-direction: column;
  }

  .main-sidebar {
    height: 0;
    width: 100%;
    transform: none;
    // display: none;
  }
}

// Modal OverRides
.secret-inventory-class-for-our-use-only {
  position: relative;
  width: 100vh;
  height: 100%;
}

.modal-dialog {
  height: 100vh;
}

.modal-content {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
