<header class="main-header">

  <!-- Logo -->
  {{#link-to "dashboard" class="logo"}}
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini">
    <img class="logo-pic" src="/img/logo.png" alt="Mission To Mars">
  </span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg">
    <img class="logo-pic" src="/img/logo.png" alt="Mission To Mars">
    Mission To Mars
  </span> {{/link-to}}

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>