<div class="box-body">
  {{#each model as |ration|}}
    <p>{{ration.name}}</p>
  {{/each}}


  {{#link-to "ration.new" class="btn btn-default btn-lg"}}<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New {{/link-to}}
  {{#link-to "ration.new" class="btn btn-default btn-lg"}}<span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Inventory {{/link-to}}

</div>
