<div class="box-body">
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{#link-to "ration.new"}} Add New {{/link-to}}
  </button>
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>{{#link-to "#"}} Inventory {{/link-to}}
  </button>
</div>
