<div class="hold-transition login-page">
  <div class="login-box">
    <h2 class="login-logo">
      Mission to Mars
    </h2>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Register for your account!</p>

      {{#with (changeset values) as |formValues|}}
        <form {{action "saveUser" formValues on="submit"}}>
          <div class="form-group has-feedback">
            {{input type="text" class="form-control" placeholder="Email" value=formValues.email}}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            {{input type="password" class="form-control" placeholder="Password" value=formValues.password}}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
          </div>
        </form>
      {{/with}}

      <p>
        Already have an account? <a href="login" class="text-center">Login</a>
      </p>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

</div>