<div class="box-body">
  <p>
    {{#each model as |ration|}}
      {{#link-to "dashboard.ration.detail" ration class="btn btn-default"}}{{ration.name}}{{/link-to}}
    {{/each}}
  </p>
  <p>
    {{#link-to "dashboard.ration.new" class="btn btn-default btn-lg"}}<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New {{/link-to}}
    {{#link-to "dashboard.inventory" class="btn btn-default btn-lg"}}<span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Inventory {{/link-to}}
  </p>
</div>
